/* Colors */
:root {
  --light-green: #dff2eb;
  --light-cyan: #b9e5e8;
  --medium-blue: #7ab2d3;
  --dark-blue: #4a628a;
  --success: #46ce91;
  --error: #e46b67;
  --warning: #f1b25b;
  --info: #5bc0de;
}

/* Universal Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Includes padding and border in the element's width and height */
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--light-green) !important;
  color: var(--dark-blue) !important;
}

#root {
  flex: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

#root::-webkit-scrollbar {
  display: none;
}
